.main {
    display: flex;
}

.main .container {
    width: 100%;
    min-width: 0;
}

.aside {
    border-radius: 10px;
    padding: 10px;
    margin: 0 15px;
    flex: 1 0 250px;
    max-width: 250px;
}

.aside h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

/* ================================== */

.page__head.book {
    align-items: center;
    margin-bottom: 20px;
}

.page__head.book h2 {
    font-size: 20px;
}

@media all and (max-width: 700px) {
    .page__head.book .button-svg span {
        display: none;
    }
}

/* ================================== */

.form__container {
    height: 350px; 
}

.form__body textarea {
    resize: none;
}

/* ================================== */

.page__body {
    overflow-x: auto;
}

.user-table td:nth-child(-n+4) {
    text-align: left;
}

.user-table .column9 a:hover svg path {
    fill: skyblue;
}

.user-table .column11 a:nth-child(1):hover svg path {
    fill: gold;
}

.user-table .column11 a:nth-child(2):hover svg path {
    fill: tomato;
}

.user-table .column11 a:nth-child(3):hover svg path {
    fill: forestgreen;
}

.user-table .column1 {
    width: auto;
}

.user-table .column2 {
    width: auto;
}

.user-table .column3 {
    width: 150px;
}

.user-table .column4 {
    width: 180px;
}

.user-table .column5 {
    width: 65px;
}

.user-table .column6 {
    width: 70px;
}

.user-table .column7 {
    width: 70px;
}

.user-table .column8 {
    width: 50px;
}

.user-table .column9 {
    width: 50px;
}

.user-table .column10 {
    width: 85px;
}

.user-table .column11 {
    width: 110px;
}

/* ================================== */

.departments {}

.departments__list {
    counter-reset: li;
    list-style: none;
    font-size: 14px;
    padding: 0;
}

.departments__item {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2.5em;
    margin: .5em 0;
    background: #f1f1f9;
    border-radius: .5em;
    transition: all .3s ease-out;
}

.departments__link {
    display: inline-block;
    text-decoration: none;
}

.departments__link::before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -1.3em;
    background: #707070;
    height: 1.7em;
    width: 1.7em;
    line-height: 1.8em;
    color: white;
    text-align: center;
    font-weight: 600;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.departments__item:hover {
    box-shadow: -1px 1px #699d75,
        -2px 2px #699d75,
        -3px 3px #699d75,
        -4px 4px #699d75,
        -5px 5px #699d75;
    transform: translateX(5px);
}

/* ================================== */

.aside>div {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
}

.search__form select {
    margin-bottom: 10px;
}

.print {}

.sub-links {}

.sub-link {
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 10px;
}

/* ================================== */

/* .page-content {
    max-height: 700px;

}

.user-table {
    overflow-y: auto;
}

.user-table thead {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
} */

/* ================================== */

@media all and (min-width: 1200px) {
    .aside {
        max-height: 790px;
    }

    .aside:nth-child(1) {
        padding-right: 0;
    }

    .departments__list {
        max-height: 730px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

/* ================================== */

@media all and (max-width: 1200px) {
    .main {
        flex-direction: column;
    }

    .aside {
        margin: 0 0 10px;
    }

    .aside:nth-child(1) {
        flex: 1 0 auto;
        max-width: none;
        order: 1;
    }

    .departments__list {
        display: flex;
        overflow-x: auto;
    }

    .departments__item {
        margin: 5px;
    }

    .departments__link {
        min-width: 200px;
        max-width: 250px;
    }

    .main .container {
        order: 3;
    }

    .aside:nth-last-child(1) {
        order: 2;
        flex: 1 0 auto;
        max-width: none;

        display: flex;
        flex-wrap: wrap;
    }

    .aside:nth-last-child(1)>div {
        margin: 5px;
        width: 200px;
    }
}