.main {
    display: flex;
}

.main .container {
    width: 100%;
}

.aside {
    background-color: #f7f7f9;
    border-radius: 10px;
    padding: 10px;
    margin: 0 15px;

    min-width: 250px;
    max-width: 250px;
}

.aside h3 {
    text-align: center;
    margin: 10px auto 10px;
}

/* ============================================== */

.control,
.print {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.control,.search,.print{
    margin-bottom: 20px;
}

.aside-btn {
    padding: 10px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.aside-btn,
.aside-btn span {
    transition: all 0.3s ease;
}

.aside-btn svg path {
    transition: all 0.1s ease;
}

.aside-btn span {
    padding-top: 2px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}

.aside-btn:hover,
.aside-btn:hover svg path,
.aside-btn:hover span {
    background-color: #eef2fe;
    color: #96afe7;
    fill: #96afe7;
}

.sub-link {
    display: inline-block;
    margin-bottom: 10px;
    transition: all .1s ease-out;
    position: relative;
    cursor: pointer;
}

.sub-link {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.sub-link:hover {
    background-size: 100% 2px;
}