.main-page {
    display: flex;
    width: 100%;
}

.servers {
    flex-basis: 65%;
    padding: 10px 0;
}

.news {
    flex-basis: 35%;
    padding: 10px;
    min-width: 330px;
}

.caption {
    display: flex;
    align-items: center;
}

.caption svg {
    min-height: 45px;
    min-width: 45px;
}

.caption h2 {
    font-size: 18px;
    font-weight: bold;
}

.news__list {
    margin-top: 15px;
}

.news__list>.news__item {
    margin-bottom: 15px;
}

.news__item {
    display: flex;
    background-color: #f0f0f8;
    border-radius: 20px;
    padding: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.news__item:hover {
    box-shadow: 1px 1px #699d75,
        2px 2px #699d75,
        3px 3px #699d75,
        4px 4px #699d75,
        5px 5px #699d75;
    transform: translateX(-5px);
}

.news__item--img {
    margin-right: 10px;
}

.news__item--img img {
    max-height: 100px;
    border-radius: 20px;
}

.news__item--content {
    flex-wrap: wrap;
    flex-shrink: 1;
}

.news__title {
    font-size: 18px;
    font-weight: bold;
    color: #699d75;
}

.news__text {
    margin: 10px 0;
    max-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.news__text>* {
    line-height: 1.2;
}

.news__bottom {
    display: flex;
    justify-content: space-between;
}

.news__bottom--btn {
    text-decoration: underline;
    font-weight: 600;
}

.news__bottom--date {
    font-weight: 500;
}

.news-all {
    text-align: right;
}

.news-all a {
    font-size: 16px;
    color: #699d75;
    font-weight: 600;
    transition: all .1s ease-out;
    position: relative;
    cursor: pointer;
}

.news-all a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.news-all a:hover {
    background-size: 100% 2px;
}

/* ============================================================================= */

.servers-grup {
    background-color: #f0f0f8;
    border-radius: 20px;
    padding: 10px;
}

.servers-grup+.servers-grup {
    margin-top: 20px;
}

.servers__list {
    margin-top: 15px;

    display: flex;
    flex-wrap: wrap;
}

.servers__list ol {
    counter-reset: li;
    list-style: none;
    padding: 0;
}

.servers__list li {
    position: relative;
    display: inline-block;
    width: 360px;
    padding: 15px 15px 15px 50px;
    margin: 10px 10px 10px 0;
    background-color: #fcfcfc;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.servers__list li:hover {
    box-shadow: 1px 1px #699d75,
        2px 2px #699d75,
        3px 3px #699d75,
        4px 4px #699d75,
        5px 5px #699d75;
    transform: translateX(-5px);
}

.servers__list a {
    color: #699d75;
    font-size: 16px;
    font-weight: 600;
}

.servers__list a::before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: 8px;
    left: 10px;
    background: #699d75;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    line-height: 2em;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.servers__list p {
    margin-top: 5px;
    font-size: 12px;
}

/* ============================================================================= */

.news-page__head {
    display: flex;
    justify-content: space-between;
}

.news-page__head .caption {
    align-self: self-start;
    margin-top: 5px;
}

.news-btn {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.news-btn button {
    margin: 5px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-btn button,
.news-btn button span {
    transition: all 0.3s ease;
}

.news-btn button svg path {
    transition: all 0.1s ease;
}

.news-btn button:hover,
.news-btn button:hover span,
.news-btn button:hover svg path {
    background-color: #eef2fe;
    border-radius: 15px;
    color: #96afe7;
    fill: #96afe7;
}

.news-btn button span {
    padding-top: 2px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}

.news-page__main {
    margin: 20px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-page__main .news__item {
    margin: 10px;
    max-width: 500px;
}

.news-page__bottom {
    text-align: center;
}

/* ============================================================================= */

.news__item--control {
    margin-left: 10px;
}

.news__item--control a {
    display: inline-block;
    padding: 5px 0;
}

.news__item--control a svg path {
    transition: all 0.3s ease;
}

.news__item--control a:nth-child(1):hover svg path {
    fill: gold;
}

.news__item--control a:nth-child(2):hover svg path {
    fill: tomato;
}

/* ============================================================================= */
.news-read .news__item {
    box-shadow: 0px 0px #699d75;
    transform: translateX(0px);
}

.news-read .news__item--img {
    margin-right: 20px;
}

.news-read .news__item--img img {
    max-height: 300px;
}

.news-read .news__title{
    font-size: 22px;
}

.news-read .news__text--all>*{
    font-size: 18px;
}

.news-read .news__text--all{
    margin: 20px 0;
}
/* ============================================================================= */

.news-add__head{
    display: flex;
    justify-content: space-between;
}

.news-add__form{
    margin: 20px auto;
    width: 80%;
    background-color: #f0f0f8;
    padding: 25px;
    border-radius: 20px;
}

.news-add__form>p{
    margin: 10px 0;
}

.btn-form{
    color: #fcfcfc;
    font-weight: bold;
    font-size: 16px;

    padding: 10px 15px;
    border-radius: 20px;
    background-color: #699d75;
    transition: background-color .4s linear;
}

.btn-form:hover{
    background-color: #6bbe66;
}











/* ============================================================================= */

@media all and (max-width: 900px) {
    .main-page {
        flex-direction: column;
    }

    .servers,
    .news {
        flex: 1 1 auto;
    }
}

@media all and (max-width: 840px) {
    .news-read .news__item {
        flex-direction: column;
    }

    .news-read .news__item--img {
        margin: 0 0 20px;
        text-align: center;
    }

    .news-read .news__item--img img {
        max-height: 200px;
    }

    .news-read .news__item--control{
        margin: 0;
    }
}