@import url('../fonts/fonts.css');

* {
    font-family: 'Poppins', sans-serif;
    /* font-weight: 300;     */
    /* font-style: normal; */
    /* font-size: 14px; */
    color: #707070;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 5px;
    border: 2px solid #f1f1f1;
}

body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#008afd+0,207cca+41,47ab29+100 */
    background: #008afd;
    background: linear-gradient(45deg, #008afd 0%, #207cca 41%, #47ab29 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008afd', endColorstr='#47ab29', GradientType=1);
    background-attachment: fixed;
}

header,
main .container,
aside,
footer {
    background-color: #f7f7f9;
}

.wrapper {
    width: calc(100% - 78px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(200, 200, 200, 0.3);
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 10px;
}

/* ============================================================== */

.header,
.header .container {
    display: flex;
    align-items: center;
}

.header__img {
    height: 80px;
    margin: 10px;
}

.header__title {
    font-size: 25px;
    font-weight: bold;
}

.user-ip {
    background-color: #699d75;
    border-radius: 10px;
    margin-right: 42px;
    padding: 10px;
}

.user-ip>p {
    font-size: 16px;
    color: #f0f8ff;
    font-weight: 600;
    white-space: nowrap;
}

@media all and (max-width: 800px) {
    .header__title {
        font-size: 18px;
    }
}

@media all and (max-width: 500px) {
    .user-ip {
        display: none;
    }
}

/* ============================================================== */

.user-login {
    margin-right: 42px;
}

#loginForm.active .login {
    transform: scale(1, 1);
    transition: all .2s ease-in;
}

.user-login__btn {
    background-color: #699d75;
    padding: 10px;
    border-radius: 10px;

    font-size: 16px;
    color: #f0f8ff;
    font-weight: 600;
    white-space: nowrap;

    margin-right: 42px;

    transition: background-color .3s linear;
}

.user-login__btn:hover {
    background-color: #47ab29;
}

#loginForm .login {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .5);

    transform: scale(0.000001, 0.00001);
}

.login-form {
    width: 35%;
    min-width: 500px;
    height: 400px;

    background-color: #96afe7;
    padding: 20px;
    border-radius: 25px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form>* {
    z-index: 5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 10px 5px;
    transition: all 0.3s ease;
}

.login-close svg path {
    transition: all 0.1s ease;
}

.login-close:hover,
.login-close:hover svg path {
    background-color: #eef2fe;
    border-radius: 15px;
    color: #96afe7;
    fill: #96afe7;
}

.login-title {
    margin-bottom: 20px;
}

.input-group {
    width: 100%;
    max-width: 400px;
    padding-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.input-group label {
    display: inline-block;
    margin-bottom: 10px;
}

.password-control {
    position: absolute;
    top: 60%;
    right: 3%;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../img/icons/bx-show.svg') 0 0 no-repeat;
}

.password-control.view {
    background: url('../img/icons/bx-hide.svg') 0 0 no-repeat;
}

.login-btn {
    margin-top: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 20px 15px 10px;
    background-color: #4bb34b;
    border-radius: 15px;

    transition: background-color .4s linear;
}

.login-btn svg path {
    fill: #f1f1f1;
}

.login-btn span {
    padding-top: 2px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #f1f1f1;
    white-space: nowrap;
}

.login-btn:hover {
    background-color: #48A348;
}

.login-form {
    overflow: hidden;
}

.login-form:before,
.login-form:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 300vw;
    height: 300vw;
    background-color: #f7f7f9;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.login-form:before {
    bottom: 15vh;
    border-radius: 45%;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}

.login-form:after {
    bottom: 12vh;
    opacity: .5;
    border-radius: 47%;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}

@-webkit-keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }

    50% {
        transform: translate(-50%, 0) rotateZ(180deg);
    }

    100% {
        transform: translate(-50%, 0) rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }

    50% {
        transform: translate(-50%, -0) rotateZ(180deg);
    }

    100% {
        transform: translate(-50%, 0) rotateZ(360deg);
    }
}

/* ============================================================== */

.tabs {
    margin: 20px 20px 0;
    display: flex;
    justify-content: center;
}

.tabs .container {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 0;
    padding: 0;
}

.tabs li {
    margin: 5px 5px 0 0;
}

.tabs a {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    background-color: rgba(239, 237, 237, .7);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s linear;
}

.tabs a:hover,
.tabs a.active {
    background-color: #f7f7f9;
    color: #699d75;
}

/* ============================================================== */

.main {
    /* flex: 1 0 auto; */
    margin: 0 10px 20px;
}

.main .container {
    border-radius: 10px;
    min-height: calc(90vh - 85px);
}

/* ============================================================== */

.footer {
    flex-shrink: 0;
    min-height: 100px;
    background-color: #222226;
    border-top: 3px solid #444446;
}

/* ============================================================== */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 440px;
    height: 100%;
    padding: 10px;
    background-color: #f7f7f9;
    box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, .3);
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar .text {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .5s ease;
}

.sidebar svg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 28px;
}

.sidebar li svg.icon path {
    fill: #707070;
    transition: all .3s ease;
}

.sidebar header {
    position: relative;
}

.image-text {
    margin-top: 15px;
}

.sidebar .image-text img {
    width: 45px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text {
    margin-left: 10px;
}

.header-text .name {
    font-weight: 600;
}

.header-text .subname {
    margin-top: 5px;
    display: block;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 30px;
    width: 30px;
    background: #699d75;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    transition: all .5s ease-out;
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

.sidebar .menu {
    margin-top: 10px;
}

.sidebar.close .menu {
    overflow: hidden;
    transition: all .5s ease;
}

.menu {
    overflow: auto;
    overflow-x: hidden;
    transition: all .5s ease;
}

.sidebar li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: all .5s ease;
}

.sidebar li a:hover {
    background: #699d75;
}

.sidebar li a.active,
.sidebar li a.active svg.icon path,
.sidebar li a.active .text {
    background: #699d75;
    color: #fff;
    fill: #fff;
    transition: all .5s ease;
}

.sidebar li a:hover svg.icon path,
.sidebar li a:hover .text {
    color: #fff;
    fill: #fff;
}

.server {
    border-bottom: 3px solid #699d75;
}

.sidebar .menu-bar {
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ============================================================== */

#scroll2Top,
#ip-show {
    display: none;
    position: fixed;
    bottom: 20px;
    background-color: #699d75;
    border-radius: 6px;
}

#scroll2Top {
    left: 20px;
    padding: 5px 5px 0;
}

#ip-show {
    right: 130px;
    padding: 10px;
}

#ip-show>p {
    font-size: 16px;
    font-weight: 600;
    color: #f0f8ff;
    white-space: nowrap;
}

.pagination {
    display: inline-block;
    margin: 10px 0;
}

.pagination a {
    font-weight: 500;
    line-height: 1;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 4px;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #699d75;
    border-radius: 5px;
    color: #fff;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

input,
textarea,
select {
    -webkit-appearance: none;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 0.4;
}

input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 0.4;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    opacity: 0.4;
}

input[type="text"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    opacity: 0.4;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
    opacity: 0.4;
} */

input:focus,
textarea:focus {
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

input:disabled,
input[readonly]
textarea:disabled,
textarea[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}

textarea {
    resize: vertical;
}

select {
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-image: url('../img/icons/arrow-down.svg');
    background-position: calc(100% - 3px) center;
}

.search-group {
    /* display: flex; */
    margin-top: 10px;   

    position: relative;
}

.search-group input {
    position: relative;
    padding-right: 35px;
}

.search-group button {
    position: absolute;
    top: 20%;
    right: 3%;
}

[data-wysihtml-dialog] {
    margin: 5px 0;
    padding: 5px;
}

[data-wysihtml-dialog] input {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
}

[data-wysihtml-dialog]>a {
    cursor: pointer;
    color: #f7f7f9;
    padding: 3px 5px;
    border-radius: 6px;
    background-color: #5F5F60;
}

.input-file {
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 0.25rem;
    background-color: #5F5F60;
    transition: background-color 0.3s linear;
    cursor: pointer;
}

.input-file span {
    position: relative;
    display: inline-block;
    outline: none;
    border: none;

    margin: 5px;

    color: #f1f1f1;
    font-weight: bold;
}

.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.input-file:hover {
    background-color: #6bbe66;
}

.input-file:active span {
    background-color: #6bbe66;
}

.input-file input[type=file]:disabled+span {
    background-color: #eee;
}

.preview {
    border-radius: 20px;
    margin: 0 20px;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"]+.radio-label::before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus+.radio-label:before {
    outline: none;
}

.radio input[type="radio"]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio input[type="radio"]+.radio-label:empty:before {
    margin-right: 0;
}