@import url('../fonts/fonts.css');

* {
    font-family: 'Poppins', sans-serif;
    color: #707070;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 5px;
    border: 2px solid #f1f1f1;
}

body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#008afd+0,207cca+41,47ab29+100 */
    background: #008afd;
    background: linear-gradient(45deg, #008afd 0%, #207cca 41%, #47ab29 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008afd', endColorstr='#47ab29', GradientType=1);
    background-attachment: fixed;
}

header,
main .container,
aside,
footer {
    background-color: #f7f7f9;
}

.wrapper {
    width: calc(100% - 78px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(200, 200, 200, 0.3);
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 10px;
}

/* ============================================================== */

.header,
.header .container {
    display: flex;
    align-items: center;
}

.header__img {
    height: 80px;
    margin: 10px;
}

.header__title {
    font-size: 25px;
    font-weight: bold;
}

.header__ip {
    background-color: #699d75;
    border-radius: 10px;
    margin-right: 42px;
}

.header__ip>p {
    margin: 10px;
    font-size: 16px;
    color: #f0f8ff;
    font-weight: 600;
    white-space: nowrap;
}

.header__btn {
    margin-right: 42px;
}

@media all and (max-width: 800px) {
    .header__title {
        font-size: 18px;
    }
}

@media all and (max-width: 600px) {
    .header__ip {
        display: none;
    }
}

/* ============================================================== */

.tabs {
    margin: 20px 20px 0;
    display: flex;
    justify-content: center;
}

.tabs .container {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 0;
    padding: 0;
}

.tabs li {
    margin: 5px 5px 0 0;
}

.tabs a {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    background-color: rgba(239, 237, 237, .7);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s linear;
}

.tabs a:hover,
.tabs a.active {
    background-color: #f7f7f9;
    color: #699d75;
}

/* ============================================================== */

.main {
    flex: 1 0 auto;
    margin: 0 10px 20px;
}

.main .container {
    border-radius: 10px;
    min-height: 80vh;
}

/* ============================================================== */

.footer {
    flex-shrink: 0;
    min-height: 100px;
    background-color: #222226;
    border-top: 3px solid #444446;
}

/* ============================================================== */

.page {}

.page__head {
    display: flex;
    justify-content: space-between;
}

.page__head--title {
    display: flex;
    align-items: center;
}

.page__head--title img {
    width: 45px;
    height: 45px;
}

.page__head--title h2 {
    font-size: 18px;
    font-weight: bold;
}

.page__head--btns {
    display: flex;
    flex-wrap: wrap;
}

.page__body {
    margin: 20px auto;
}

.page__bottom {
    text-align: center;
}

/* ============================================================== */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 440px;
    height: 100%;
    padding: 10px;
    background-color: #f7f7f9;
    box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, .3);
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar .text {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .5s ease;
}

.sidebar svg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 28px;
}

.sidebar li svg.icon path {
    fill: #707070;
    transition: all .3s ease;
}

.sidebar header {
    position: relative;
}

.image-text {
    margin-top: 15px;
}

.sidebar .image-text img {
    width: 45px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text {
    margin-left: 10px;
}

.header-text .name {
    font-weight: 600;
}

.header-text .subname {
    margin-top: 5px;
    display: block;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 30px;
    width: 30px;
    background: #699d75;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    transition: all .5s ease-out;
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

.sidebar .menu {
    margin-top: 10px;
}

.sidebar.close .menu {
    transition: all .5s ease;
}

.sidebar.close .menu::-webkit-scrollbar {
    display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .sidebar.close .menu{
        overflow: hidden;
    }
}

.menu {
    overflow: auto;
    overflow-x: hidden;
    transition: all .5s ease;
}

.sidebar li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: all .5s ease;
}

.sidebar li a:hover {
    background: #699d75;
}

.sidebar li a.active,
.sidebar li a.active svg.icon path,
.sidebar li a.active .text {
    background: #699d75;
    color: #fff;
    fill: #fff;
    transition: all .5s ease;
}

.sidebar li a:hover svg.icon path,
.sidebar li a:hover .text {
    color: #fff;
    fill: #fff;
}

.server {
    border-bottom: 3px solid #699d75;
}

.sidebar .menu-bar {
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ======================================================= */

.form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    background-color: rgba(0, 0, 0, .5);
}

.login-form {
    overflow: hidden;
    background-color: #96afe7 !important;
}

.login-form>* {
    z-index: 5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-form:before,
.login-form:after {
    content: "";
    position: absolute;
    left: 50%;
    width: 300vw;
    height: 300vw;
    background-color: #f7f7f9;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.login-form:before {
    bottom: 15vh;
    border-radius: 45%;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}

.login-form:after {
    bottom: 12vh;
    opacity: .5;
    border-radius: 47%;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}

@-webkit-keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }

    50% {
        transform: translate(-50%, 0) rotateZ(180deg);
    }

    100% {
        transform: translate(-50%, 0) rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }

    50% {
        transform: translate(-50%, -0) rotateZ(180deg);
    }

    100% {
        transform: translate(-50%, 0) rotateZ(360deg);
    }
}

.form__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #f7f7f9;
    border-radius: 25px;
    padding: 20px;

    width: 35%;
    min-width: 500px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__close {
    align-self: flex-end;
}

.form__head {
    margin-bottom: 20px;
}

.form__body {
    width: 60%;
    margin-bottom: 10px;
}

.input-group {
    width: 100%;
    padding-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.input-group label {
    display: inline-block;
    margin-bottom: 10px;
}

.input-group .password-control {
    top: 2.9rem !important;
}

.form__bottom button {
    width: 200px;
}

.button-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 15px;
    transition: background-color .4s ease;
}

.button-svg svg {
    min-width: 24px;
    min-height: 24px;
}

.button-svg span {
    padding: 3px 0 0 5px;
    font-weight: 600;
    white-space: nowrap;
}

.button-svg svg path {
    transition: all 0.1s ease;
}

.button-svg:hover,
.button-svg:hover svg path {
    background-color: #eef2fe;
    color: #96afe7;
    fill: #96afe7;
}

.button-svg:hover span{
    color: #96afe7;
}

.button {
    padding: 10px;
    border-radius: 0.25rem;
    font-size: 16px;
    color: #f1f1f1;
    font-weight: bold;
    transition: background-color 0.3s linear;
    cursor: pointer;
}

.button.green {
    background-color: #4bb34b;
}

.button.green:hover {
    background-color: #48A348;
}

.button.red {
    background-color: #b34b4b;
}

.button.red:hover {
    background-color: #a34848;
}

[data-wysihtml-dialog] {
    margin: 5px 0;
    padding: 5px;
}

[data-wysihtml-dialog] input {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
}

[data-wysihtml-dialog]>a {
    display: inline-block;
    margin: 10px 0;
    cursor: pointer;
    color: #f7f7f9;
    padding: 8px;
    border-radius: 6px;
    background-color: #5F5F60;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    background-color: #f7f7f9;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="password"],
input[type="search"] {
    padding-right: 2rem;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
textarea:hover,
textarea:focus,
select:hover {
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

input[type="text"]:-moz-read-only, input[type="password"]:-moz-read-only, input[type="search"]:-moz-read-only, input[type="email"]:-moz-read-only, textarea:-moz-read-only {
    background-color: #f5f5f5;
    opacity: 1;
}

input[type="text"]:disabled,
input[type="text"]:read-only,
input[type="password"]:disabled,
input[type="password"]:read-only,
input[type="search"]:disabled,
input[type="search"]:read-only,
input[type="email"]:disabled,
input[type="email"]:read-only,
textarea:disabled,
textarea:read-only {
    background-color: #f5f5f5;
    opacity: 1;
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 0.4;
}

input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="email"]::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 0.4;
}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 0.4;
}

input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder, input[type="search"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder, textarea::-ms-input-placeholder {
    opacity: 0.4;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    opacity: 0.4;
}

.password,
.search {
    position: relative;
}

select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-image: url('../img/icons/arrow-down.svg');
    background-position: calc(100% - 3px) center;
}

.password-control {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0.35rem;
    right: 0.3rem;
    background: url('../img/icons/bx-show.svg') 0 0 no-repeat;
    cursor: pointer;
}

.password-control.view {
    background: url('../img/icons/bx-hide.svg') 0 0 no-repeat;
}

.search-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0.35rem;
    right: 0.3rem;
    background: url('../img/icons/search.svg') 0 0 no-repeat;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"]+.radio-label::before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #bdbdbd;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    background-color: #008bfd;
    border-color: #008bfd;
}

.radio input[type="radio"]:focus+.radio-label:before {
    outline: none;
    background-color: #008bfd;
    border-color: #008bfd;
}

.radio input[type="radio"]:disabled+.radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio input[type="radio"]+.radio-label:empty:before {
    margin-right: 0;
}

#bg-green:checked+.radio-label:before {
    background-color: limegreen;
    border-color: limegreen;
}

#bg-red:checked+.radio-label:before {
    background-color: tomato;
    border-color: tomato;
}

#bg-yellow:checked+.radio-label:before {
    background-color: gold;
    border-color: gold;
}

#bg-blue:checked+.radio-label:before {
    background-color: #008bfd;
    border-color: #008bfd;
}

.checkbox>input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
}

.checkbox>span {
    display: inline-flex;
    align-items: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #f4f4f4;
    border: 1px solid #bdbdbd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #008bfd;
}

.checkbox>input:not(:disabled):active+span::before {
    background-color: #008bfd;
    border-color: #008bfd;
}

.checkbox>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.checkbox>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
}

.checkbox>input:checked+span::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox>input:disabled+span::before {
    background-color: #e9ecef;
}

.input-file {
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 0.25rem;
    background-color: #5F5F60;
    transition: background-color 0.3s linear;
    cursor: pointer;
}

.input-file span {
    position: relative;
    display: inline-block;
    outline: none;
    border: none;

    margin: 5px;

    color: #f1f1f1;
    font-weight: bold;
}

.input-file input[type="file"] {
    position: absolute;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.input-file:hover {
    background-color: #6bbe66;
}

.input-file:active span {
    background-color: #6bbe66;
}

.input-file input[type="file"]:disabled+span {
    background-color: #eee;
}

.preview {
    border-radius: 20px;
    margin: 0 20px;
}

.pagination {
    margin: 10px 0;
    display: inline-block;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
}

.pagination-item {
    margin: 0 4px;

    border-radius: 5px;
    transition: background-color .3s;
}

.pagination-link {
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.pagination-item.active {
    background-color: #699d75;
    border-radius: 5px;
}

.active .pagination-link {
    color: #fff;
}

.pagination-item:hover:not(.active) {
    background-color: #ddd;
}

.select2 {
    width: 100% !important;
}

.select2-selection__rendered {
    line-height: 30px !important;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}

.select2-container--default .select2-selection--single {
    background-color: #f7f7f8 !important;
    border: 1px solid #bdbdbd !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #707070 !important;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #707070 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    background-image: url('../img/icons/arrow-down.svg');
    background-color: transparent;
    background-size: contain;
    border: none !important;
    height: 24px !important;
    width: 24px !important;
    margin: auto !important;
    top: 10% !important;
    left: auto !important;
    right: 10% !important;
}

#scroll2Top{
    display: none;
    position: fixed;
    bottom: 20px;
    background-color: #5F5F60;
    border-radius: 6px;
    left: 20px;
    padding: 5px 5px 0;
}

/* ====================================== */

table {
    width: 100%;
    border-collapse: collapse;
}

table svg path {
    fill: #707070;
    transition: all .2s ease;
}

thead {
    background-color: #699d75;
}

tbody tr:nth-child(even) {
    background-color: #f0f0f8;
}

th {
    color: #f0f8ff;
    padding: 10px 5px;
}

td {
    font-size: 14px;
    text-align: center;
    padding: 5px;
}